{%- liquid
  assign apply_overlay = section.settings.apply-overlay
  assign bg_color = section.settings.background-color
  assign bg_image = section.settings.background-image
  assign container_width = section.settings.container-width
  assign heading = section.settings.heading
  assign light_text = section.settings.light-text
  assign link_text = section.settings.link-text
  assign link_url = section.settings.link-url
  assign mobile_image = section.settings.mobile-image
  assign overline = section.settings.overline
  assign parallax_enabled = section.settings.parallax-enabled
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign description = section.settings.description

  assign button_type = 'button'
  if light_text
    assign button_type = 'inverted-button'
  endif

  assign columns = 1
  unless heading == blank and overline == blank and description == blank and link_text == blank
    assign columns = 2
  endunless

  assign cover_link = false
  if link_url != blank and description == blank
    assign cover_link = true
  endif

  render 'section-assets', name: 'countdown', type: 'style'
-%}

{%- if cover_link -%}
  <a href="{{ link_url }}" aria-label="{{ heading }}">
{%- endif -%}

<div
  class="countdown--root"
  data-section-id="{{ section.id }}"
  data-background-color="{{ bg_color }}"
  {%- if bg_image == blank -%}
    data-apply-overlay="{{ apply_overlay }}"
  {%- endif -%}
  data-columns="{{ columns }}"
  data-container-width="{{ container_width }}"
  data-countdown-container
  data-light-text="{{ light_text }}"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
>
  <div class="countdown--wrapper">
    {%- if columns == 2 -%}
      <div
        class="countdown--text-container"
        {% unless settings.transitions--disabled %}
          data-transition-container="{{ section.id }}"
          data-transition-type="mask"
          data-transition-cascade="vertical"
          data-transition-cascade-interval="500"
        {% endunless %}
      >
        {%- unless heading == blank -%}
          <div
            class="countdown--heading"
            {% unless settings.transitions--disabled %}
              data-transition-cropper
              data-transition-item="{{ section.id }}"
            {% endunless %}
          >
            <h2 data-item="section-heading">
              {{- heading -}}
            </h2>
          </div>
        {%- endunless -%}

        {%- unless overline == blank -%}
          <div
            class="countdown--overline"
            {% unless settings.transitions--disabled %}
              data-transition-cropper
              data-transition-item="{{ section.id }}"
            {% endunless %}
          >
            <h3 data-item="overline">
              {{- overline | escape -}}
            </h3>
          </div>
        {%- endunless -%}

        {%- unless description == blank -%}
          <div
            class="countdown--body"
            {% unless settings.transitions--disabled %}
              data-transition-cropper
              data-transition-item="{{ section.id }}"
            {% endunless %}
          >
            <div data-item="rte-content">
              {{- description -}}
            </div>
          </div>
        {%- endunless -%}

        {%- unless link_text == blank -%}
          {%- if cover_link -%}
            <div
              class="countdown--body"
              data-item="{{ button_type }}"
              {% unless settings.transitions--disabled %}
                data-transition-item="{{ section.id }}"
                data-transition-type="fade-in"
              {% endunless %}
            >
              <span>{{- link_text -}}</span>
            </div>
          {%- else -%}
            <a
              href="{{ link_url }}"
              data-item="{{ button_type }}"
              {% unless settings.transitions--disabled %}
                data-transition-item="{{ section.id }}"
                data-transition-type="fade-in"
              {% endunless %}
            >
              <div class="countdown--body">
                {{- link_text -}}
              </div>
            </a>
          {%- endif -%}
        {%- endunless -%}
      </div>
    {%- endif -%}

    {%-
      render 'countdown-timer',
      expiry_date: section.settings.expiry-date,
      expiry_hours: section.settings.expiry-hours,
      expiry_minutes: section.settings.expiry-minutes,
      light_number: section.settings.light-number,
      hide_when_expired: section.settings.hide-when-expired,
      number_size: section.settings.number-size,
      mobile_number_size: section.settings.mobile-number-size,
      timer_bg_color: section.settings.timer-bg-color
    -%}
  </div>

  {%- if bg_image -%}
    <div class="countdown--bg-image" data-container="block">
      {%-
        render 'image',
        image: bg_image,
        darken: apply_overlay,
        darken_mobile: apply_overlay,
        mobile_image: mobile_image,
        parallax: parallax_enabled
      -%}
    </div>
  {%- endif -%}
</div>

{%- if cover_link -%}
  </a>
{%- endif -%}

{% schema %}
{
  "name": "Countdown",
  "class": "section--countdown",
  "settings": [
    {
      "type": "header",
      "content": "Style and layout"
    },
    {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light", "value": "light" },
        { "label": "Dark", "value": "dark" },
        { "label": "Accent 1", "value": "accent-1" },
        { "label": "Accent 2", "value": "accent-2" }
      ],
      "default": "light"
    },
    {
      "id": "light-text",
      "label": "Use light text color",
      "type": "checkbox",
      "default": false
    },
    {
      "id": "apply-overlay",
      "label": "Darken background",
      "type": "checkbox",
      "default": false,
      "info": "Can enhance text visibility"
    },
    {
      "id": "background-image",
      "type": "image_picker",
      "label": "Background image"
    },
    {
      "id": "parallax-enabled",
      "label": "Enable parallax",
      "type": "checkbox",
      "default": false,
      "info": "Fixes image position when you scroll, use images with a height of at least 2000px to preserve resolution"
    },
    {
      "id": "timer-bg-color",
      "label": "Timer background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light", "value": "light" },
        { "label": "Dark", "value": "dark" }
      ],
      "default": "dark"
    },
    {
      "id": "light-number",
      "label": "Use light number color",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "number-size",
      "label": "Number text size",
      "type": "range",
      "min": 20,
      "max": 60,
      "step": 1,
      "default": 40,
      "unit": "px"
    },
    {
      "id": "container-width",
      "label": "Maximum width of container",
      "type": "range",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "id": "spacing-above",
      "label": "Spacing above",
      "type": "checkbox",
      "default": true
    },
    {
      "id": "spacing-below",
      "label": "Spacing below",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id": "overline",
      "label": "Overline",
      "type": "text",
      "default": "Overline text"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Limited offer"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Share something about a limited offer or temporary promotion.</p>"
    },
    {
      "type": "url",
      "id": "link-url",
      "label": "Link",
      "info": "Entire block will become a link when no link text or description."
    },
    {
      "type": "text",
      "id": "link-text",
      "label": "Link text",
      "default": "Optional link"
    },
    {
      "type": "header",
      "content": "Features"
    },
    {
      "id": "expiry-date",
      "label": "Expiry date",
      "type": "text",
      "default": "01-01-2025",
      "info": "DD-MM-YYYY"
    },
    {
      "label": "Expiry hours",
      "id": "expiry-hours",
      "type": "range",
      "min": 0,
      "max": 23,
      "step": 1,
      "default": 0,
      "info": "Represents the hour in UTC standard time"
    },
    {
      "label": "Expiry minutes",
      "id": "expiry-minutes",
      "type": "range",
      "min": 0,
      "max": 59,
      "step": 1,
      "default": 0,
      "info": "Represents the minutes in UTC standard time"
    },
    {
      "id": "hide-when-expired",
      "label": "Hide section when countdown expires",
      "type": "checkbox",
      "default": true
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "image_picker",
      "id": "mobile-image",
      "label": "Mobile background image (optional)"
    },
    {
      "id": "mobile-number-size",
      "label": "Mobile number text size",
      "type": "range",
      "min": 12,
      "max": 24,
      "step": 1,
      "default": 20,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "Countdown",
      "settings": {}
    }
  ],
  "disabled_on": {
    "groups": ["aside"]
  }
}
{% endschema %}